<project-showcase>
  <showcase-subtitle>First Project</showcase-subtitle>
  <showcase-title>Dating App</showcase-title>
  <showcase-description>
    My first app, created from a Udemy course
    <br/>
    <br/>
    A display of both frontend and backend development, highlighting core web development concepts.
  </showcase-description>
  <showcase-skills-group>
    <showcase-skill-chip>Angular</showcase-skill-chip>
    <showcase-skill-chip>HTML</showcase-skill-chip>
    <showcase-skill-chip>Bootstrap</showcase-skill-chip>
    <showcase-skill-chip>.NET</showcase-skill-chip>
  </showcase-skills-group>
  <showcase-links-group>
    <showcase-link label="github" href="https://github.com/AirborneFluff/Dating-App"/>
    <showcase-link label="No Website"/>
  </showcase-links-group>
</project-showcase>
