<project-showcase>
  <showcase-subtitle>Public Facing</showcase-subtitle>
  <showcase-title>Raffle App</showcase-title>
  <showcase-description>
    To help event admins manage raffle entries. Integrated with Discord to keep players upto date with their entries into the raffle
    <br/>
    <br/>
    My first real-world, public facing application which was utilised by a group I was involved with. Hosted on Heroku until no longer needed
  </showcase-description>
  <showcase-skills-group>
    <showcase-skill-chip>Angular</showcase-skill-chip>
    <showcase-skill-chip>HTML</showcase-skill-chip>
    <showcase-skill-chip>Bootstrap</showcase-skill-chip>
    <showcase-skill-chip>.NET</showcase-skill-chip>
  </showcase-skills-group>
  <showcase-links-group>
    <showcase-link label="Private Github"/>
  </showcase-links-group>
</project-showcase>
