<project-showcase>
  <showcase-subtitle>Public Facing</showcase-subtitle>
  <showcase-title>Eldraws</showcase-title>
  <showcase-description>
    To help event admins manage raffle entries.
    <br/>
    <br/>
    My first live, in-use project. It lets you:<br/>
    - Create Clans, which are groups<br/>
    - Create Raffles, events which members can enter to win prizes<br/>
    - Add entries for those raffles<br/>
    - Save entrant information for future use<br/>
    - Add other app users to manage raffles<br/>
  </showcase-description>
  <showcase-skills-group>
    <showcase-skill-chip>Angular</showcase-skill-chip>
    <showcase-skill-chip>.NET</showcase-skill-chip>
    <showcase-skill-chip>RxJS</showcase-skill-chip>
    <showcase-skill-chip>Tailwind</showcase-skill-chip>
    <showcase-skill-chip>Azure</showcase-skill-chip>
  </showcase-skills-group>
  <showcase-links-group>
    <showcase-link href="https://github.com/AirborneFluff/Eldraws-Raffle-App" label="github"/>
    <showcase-link href="https://eldraws.co.uk/" label="website"/>
  </showcase-links-group>
</project-showcase>
