<project-showcase>
  <showcase-title>Stock App</showcase-title>
  <showcase-description>
    Manage stock levels and store part information.
    <br/>
    An example of a frontend-only Angular app using IndexDB to store information locally.
  </showcase-description>
  <showcase-skills-group>
    <showcase-skill-chip>Angular</showcase-skill-chip>
    <showcase-skill-chip>HTML</showcase-skill-chip>
    <showcase-skill-chip>CSS</showcase-skill-chip>
  </showcase-skills-group>
  <showcase-links-group>
    <showcase-link label="github" href="https://github.com/AirborneFluff/stock-app"/>
    <showcase-link label="website" href="https://airbornefluff.github.io/stock-app/parts"/>
  </showcase-links-group>
</project-showcase>
