section {
  @apply container pb-2 sm:pb-12 pt-12 sm:pt-16 px-6 snap-start max-w-screen-lg flex flex-col;
  height: 100svh;
}

#app-theme {
  height: 100svh;
  overflow-y: auto;
  padding-bottom: 100px;

  @apply snap-mandatory snap-always snap-y
}
