<div class="dark:bg-dark-0 bg-light-0 dark:text-dark-3 text-dark-0" id="app-theme">
  <section id="intro-section">
    <header>
      <h1 isVisible [delay]="1000" class="text-5xl sm:text-7xl animate-fade-in">Hello.</h1>
      <h2 isVisible [delay]="1500" class="text-lg sm:text-xl animate-fade-in px-1">I am <span class="text-gradient">Morgan</span>, a web developer.</h2>
    </header>

    <div class="mt-10">
      <app-block-text isVisible [delay]="1750" class="animate-fade-in">
        Bridging the gap between creativity and technology, using my experience in Angular, .NET, and a variety of programming languages, including C#, C, and TypeScript.
      </app-block-text>
    </div>
  </section>

  <section #dev>
    <header>
      <h1 isVisible [delay]="500" class="text-5xl sm:text-7xl animate-fade-in">Skills</h1>
    </header>

    <div class="mt-10">
      <h2 class="mb-2">frameworks</h2>
      <div class="flex gap-1 w-full flex-wrap [&>*]:basis-12">
        <app-text-chip>Angular</app-text-chip>
        <app-text-chip>.NET</app-text-chip>
      </div>

      <h2 class="mt-6 mb-2">languages</h2>
      <div class="flex gap-1 w-full flex-wrap [&>*]:basis-12">
        <app-text-chip>Typescript</app-text-chip>
        <app-text-chip>HTML</app-text-chip>
        <app-text-chip>CSS</app-text-chip>
        <app-text-chip>C#</app-text-chip>
        <app-text-chip>C</app-text-chip>
      </div>
    </div>
  </section>

  <footer class="fixed bottom-0 w-full">
    <div class="container flex max-w-screen-lg">
      <div class="m-2 sm:m-5">
        <app-toggle-theme/>
      </div>
    </div>
  </footer>
</div>
