section {
  @apply container px-6 max-w-screen-md flex flex-col;
  min-height: 100svh;
}

header {
  //@apply snap-start pt-8 sm:pt-16;
}

#app-theme {
  height: 100svh;
  overflow-y: auto;

  //@apply sm:snap-none snap-mandatory snap-always snap-y
}
