<project-showcase>
  <showcase-subtitle>Work in Progress</showcase-subtitle>
  <showcase-title>Energy Storage</showcase-title>
  <showcase-description>
    A passion for sustainability lead me to make this tool.
    <br/>
    <br/>
    Enables the user to calculate potential savings from investing in energy storage for their PV solar system.
  </showcase-description>
  <showcase-skills-group>
    <showcase-skill-chip>Angular</showcase-skill-chip>
    <showcase-skill-chip>HTML</showcase-skill-chip>
    <showcase-skill-chip>CSS</showcase-skill-chip>
    <showcase-skill-chip>Typescript</showcase-skill-chip>
    <showcase-skill-chip>Figma</showcase-skill-chip>
  </showcase-skills-group>
  <showcase-links-group>
    <showcase-link label="github" href="https://github.com/AirborneFluff/EnergyStorageApp"/>
    <showcase-link label="website" href="https://airbornefluff.github.io/EnergyStorageApp/input"/>
  </showcase-links-group>
</project-showcase>
